node_modules
dist
.git
.github
*.log
.env
.env.*
uploads/
.storage/
drizzle/
coverage/
*.tsbuildinfo
docs/
doc/
apps/back-office/node_modules
apps/client-portal/node_modules
apps/front-office/node_modules
apps/mid-office/node_modules
packages/shared/node_modules
packages/ui/node_modules
